<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://debug.appleapp.world/bD06ufGgHcBsILj0.ipa?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vZGVidWcuYXBwbGVhcHAud29ybGQvYkQwNnVmR2dIY0JzSUxqMC5pcGEiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE3NjkzOTY2ODB9fX1dfQ__&Signature=ScWuJTRpjhjmlP515LbjswcDCqgwIzB-lNMsGQCRNZEs3BoZ0rqjySdVh6W2Zke0G-6Qmc0l0dfWz5HybfzaK1nObtqO~1nWxfqNq3Yq-gQJHL7vomIDXS7hzagcckFcvKw36UePJygFjOlCSyOdZ~i2V5362wefqzkwO8PRUPFX8RZvx5SuoVepkWqKEGYpztfEOfR1bF2es3ngzcNVrPNCY36qHLWrcnV1PHLnT8u4bKmuPFcArxPjIj1MuOBI8NigZNnVNKgcE96qdlYX1ERrLI~4dwb6605iq7AfuOTSRpbe10m~Ae~NZTgldMqyUvC2r7uPa2JWyDxTEH4eFg__&Key-Pair-Id=K8GKEUQVJFI0E</string>
        </dict>
          <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.vnggames.cfl.crossfirelegends.tumadam</string>
        <key>bundle-version</key>
        <string>1.0.8</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Crossfire: Legends</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
