<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://eueu.littlera.in/b9ba0cd2-2946-40b8-95e0-8e36a43c1fec/0.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string>https://i.imgur.com/lc1eE6F.png</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.garena.game.kgvn1</string>
        <key>bundle-version</key>
        <string>1.59.11433466</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>MAP VER1</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>