<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://eueu.littlera.in/809db7f1-14a7-497e-a8aa-5d0280766d84/0.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string>https://i.imgur.com/Zdd3Muh.jpeg</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.rbl.krnlvn</string>
        <key>bundle-version</key>
        <string>2.690.721</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Krnl VN</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>